@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body {
    background: linear-gradient(to bottom right, rgb(0, 36, 81) ,rgb(1, 69, 112), rgb(137, 185, 192));
    margin: 0;
}
header{
    display: flex;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.336);
    box-shadow: 0px 3px 5px white;
    
}
header > img{
    max-width: 200px;
    height: auto;
}
nav{
    display: flex;
    
   
}
nav > a {
    
    text-decoration: none;
    padding: 5px;
    margin: 10px;
    color:  rgb(0, 36, 81);
    font-weight: bold;
    border-radius: 10px;
}
nav > a:hover{
    background-color: rgb(137, 185, 192);
    color: rgb(18, 0, 33);
}
main{
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
section {
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.2);
    display: flex;
    width: 98vw;
    height: 50vw;
    padding-top: 100px;
    background: linear-gradient(to bottom right, rgb(0, 36, 81) ,rgb(1, 69, 112), rgb(137, 185, 192));
}
div#bio{
    background-color: rgb(1, 69, 112);
    margin-top: 100px;
    margin-left: 100px;
    width: 50vw;
    height: 25vw;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 100px;
    box-shadow: 0px 8px 26px  rgba(0, 0, 0, 0.493);
    font-size: 34px;
    
}  
div#bio > p{
    color: white;
       
}
div#bio > h1{
    color: white;
}
div#bio > a > button{
    height: 60px;
    width: 300px;
    border-radius: 20px;
    font-size: 20px;
    box-shadow: 0px 8px 26px  rgba(0, 0, 0, 0.493);
    background-color: rgb(137, 185, 192);
    margin-top: 10px;
}
div#bio > a > button:hover {
    background-color: rgb(66, 135, 149);
    
}
div#foto{
    margin-top: 100px;
    padding: 100px;
    margin: auto;
    display: flex;
    width: 50vw;
    align-items: center;
    
}
div#foto img{
    max-width: 100%;
    height: auto;
    width: 300px;       
}
section#sobre {
    border-radius: 10px;
    box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.2);
    display: flex;
    width: 98vw;
    height: 50vw;
    padding-top: 50px;
    align-items: center; /* Alinhar os itens no centro verticalmente */
    justify-content: center; /* Alinhar os itens no centro horizontalmente */
}
section#sobre img{
    max-width: 100%;
    height: auto;
    width: 300px;
    top: auto;
   
}
div#info{
    background-color: rgb(1, 69, 112);
    margin-top: 100px;
    margin-left: 100px;
    width: 50vw;
    height: 25vw;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 100px;
    box-shadow: 0px 8px 26px  rgba(0, 0, 0, 0.493);
    font-size: 24px;
    color: white;
    margin-top: 5px;
}    
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.blinking-cursor {
    display: inline-block;
    animation: blink 1s infinite;
}
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav {
        margin-top: 20px;
    }

    nav a {
        display: block;
        margin-bottom: 10px;
    }
}