@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Saira:wght@100;500&display=swap');

*{
    font-family: Saira, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body, html {
    
    margin: 0;
    background-color: black;
    
    
}
header{
    display: flex;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    box-shadow: 0px 3px 5px white;
    height: 100px;
    padding: 0px 10px 0px 0px;
    justify-content: center;
}
header > a > img{
    max-width: 250px;
    height: auto;
    margin: 100px;
}
nav{
    display: flex;  
}
nav > a {
    text-decoration: none;
    padding: 4px;
    margin: 10px ;
    font-weight: bold;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    color: #009dff;
    transition: color .3s ease;
}
nav > a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, #009dff, #f200ff);
    opacity: 0;
    z-index: -1; /* Mova o pseudo-elemento para trás do texto */
    transition: opacity 1s ease;
    
}
nav > a:hover::before {
    opacity: 1;
}
nav > a:hover{
    color: black;
    
}
main{
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
}
section {
    display: flex;
    width: 100%;
    height:auto;
    padding-top: 20px;
    background-color: black;
    justify-content: space-between;
    align-items: center; 
}

section#biografia{
    width: 100%;
    display: flex;
    -webkit-box-pack: justify;
    background-color: rgb(14, 14, 14);
    padding: 0px;
    justify-content: center;
    color: white;
    align-items: center;
    
}
.conteudo-biografia {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    height: 100vh ;
}
div#bio{
    display: flex;
    flex-direction: column;
    padding: 100px;
    font-size: 34px;
    justify-items: center; 
}  
div#bio > p{
    color: white; 
}

div#bio > h1{
    color: white;
    
}
.blinking-cursor{
    color: #f200ff;
    font-size: 1.2em;
    animation: blink 1s infinite;
}
div#bio > p#gradient{
    background: linear-gradient(to right, #009dff, #f200ff); 
    -webkit-background-clip: text; 
    color: transparent; 
}
#links a {
    display: inline-block;
  }
#links a i:hover::before {
    color: #009dff !important; 
  }
div#foto{
    margin: 0px -200px 0px -200px;
    display: flex;
    justify-items: center; 
}

div#foto img{
    padding:  0px;
    max-width: 100%;
    width: 900px;
    position: relative;
    animation: moveImage 3s linear infinite; /* Adicione a animação "moveImage" */       
}
/* ... (iNICIO DA SEÇÃO "SOBRE") ... */

section#sobre{
    width: 100vw;
    height: auto;
    background-color: rgb(0, 0, 0);
    padding: 5px;
    justify-content: center;
    color: white;
    
}

#sobre-content > H2 {
    text-align: center;
    padding: 20px;
    font-size: 34px;
}
 
div#info{
    flex-direction: column;
    height: auto;
    width: 600px;
    font-size: 20px;
    margin: 100px 0px 100px 300px;
    justify-items: center; 

}

div#sobre-imagem img{
    padding: 0px;
    width: 500px;
    height: auto;
    margin: -400px 0px 1px 900px;
    justify-content: center;
    animation: rotateImage 15s linear infinite;
}

/* ... (Inicío da Section "Projetos") ... */

section#projetos{
    display: block;
    width: 100vw;
    height: auto;
    background-color: rgb(14, 14, 14);
    padding: 5px;
    justify-content: center;
    color: white;

    
} 
section#projetos > h2{
    text-align: center;
    padding: 20px;
    font-size: 34px;
    display: block;  
}
div#cartaz{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1320px;
    margin: 100px auto 0;
}
div#cartaz > img{
    width: 300px;
    margin: 20px 20px 20px 20px;
    border-radius: 20px;
     
}
div#cartaz > img:hover{
    box-shadow: 5px 5px 20px 3px #009dff;
    transition: .4s;
}

/* ... (Inicío da Section "Habilidades") ... */

section#habilidades{
    width: 100vw;
    height: auto;
    background-color: rgb(0, 0, 0);
    padding: 5px;
    justify-content: center;
    color: white;
   
}

section#habilidades > h2{
    text-align: center;
    font-size: 34px;
    color: white;
}

.material-symbols-outlined{
    color:#009dff
}
/* ... (Inicío da Section "Certificações") ... */

section#certificacoes{
    width: 100vw;
    height: auto;
    background-color: rgb(14, 14, 14);
    padding: 5px;
    justify-content: center;
    color: white;
   
}

section#certificacoes > h2{
    text-align: center;
    font-size: 34px;
    color: white;
}
::-webkit-scrollbar {
    width: 5px; /* Largura do cursor de rolagem */
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #009dff; /* Cor do cursor de rolagem */
    border-radius: 10px; /* Borda arredondada do cursor de rolagem */
}
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes moveImage {
    0% {
        transform: translateX(0); /* Inicializa a posição da imagem */
    }
    50% {
        transform: translateX(50px); /* Move a imagem para a direita */
    }
    100% {
        transform: translateX(0); /* Retorna a imagem à posição inicial */
    }
}
@keyframes rotateImage {
    0% {
        transform: rotate(0deg); /* Inicializa a rotação da imagem */
    }
    100% {
        transform: rotate(360deg); /* Completa uma rotação completa (360 graus) */
    }
}

@media only screen and (max-width: 768px) {
    header {
        height: 70px;
    }

    header > a > img {
        max-width: 150px;
    }

    nav > a {
        font-size: 0.8rem;
    }

    main {
        padding: 10px;
    }

    div#bio {
        padding: 20px;
        font-size: 1.5rem;
        margin: 10px 500px 0px 5px;
        width: 400px;
    }
    div#info{
        padding: 20px;
        margin: 50px 0px 0px 200px;
        width: 450px;
        font-size: 1.3rem;
        justify-content: center;
    }
    div#sobre-imagem img{
        margin: 0px 200px 0px;
        width: 400px;
    }

    div#foto img {
        width: 900px;
        margin: 10px 10px 10px -300px;
    }
    div#cartaz > img{
        width: 200px;
        margin: 20px 20px 20px 20px;
        border-radius: 20px;
}

/* Para telas menores que 600px */
@media only screen and (max-width: 600px) {
    header {
        height: 60px;
    }

    header > a > img {
        max-width: 120px;
    }

    nav > a {
        font-size: 0.7rem;
    }

    main {
        padding: 5px;
    }

    div#bio {
        padding: 10px;
        font-size: 1.8rem;
        margin: auto;
    }
    div#info{
        padding: 10px;
        font-size: 1.1rem;
    }
    section#biografia{
        display: block;
    }
    div#foto img {
        margin: -300px 0px 0px 250px;
        width: 80vw;
    }
    div#cartaz > img{
        width: 150px;
        margin: 20px 20px 20px 20px;
        border-radius: 20px;
    }
}   